#el-subheader{
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  width: 800px;
  color: #707070;
  margin: 0 auto;
  margin-top: 80px;
}

@media(max-width: 800px){
  #el-subheader{
    width: 400px;
    font-size: 32px;
    line-height: 42px;
  }
}
@media(max-width: 400px){
  #el-subheader{
    width: 300px;
    font-size: 28px;
    line-height: 34px;
  }
}

#el-grid{
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  align-items: center;
  margin-top: 80px;
}

#el-description{
  padding: 40px;
  width: 700px;
  background-color: grey;
  color: white;
  box-shadow: 0px 15px 50px rgba(38,44,52,.56);
}

#el-description h2{
  font-size: 28px;
  margin-bottom: 28px;
}

#el-description p{
  opacity: 0.9;
  font-size: 16px;
  line-height: 24px;
  margin-top: 14px;
}

#el-pic{
  background-image: url('/assets/products/dataleak.png');
  background-size:cover;
  width: 500px;
  height: 400px;
}

@media(max-width: 1300px){
  #el-description{
    width: 450px;
  }
}
@media(max-width: 1080px){
  #el-grid{
    grid-template-columns: auto;
  }
  #el-description{
    width: 700px;
  }
  #el-pic{
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 700px;
    height: 556px;
  }
}
@media(max-width: 800px){
  #el-description{
    width: 500px;
  }
  #el-pic{
    width: 400px;
    height: 319px;
  }
}
@media(max-width: 600px){
  #el-description{
    width: 360px;
    padding: 30px
  }
  #el-description h2{
    font-size: 22px;
    margin-bottom: 20px;
  }
  #el-description p{
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
  }
}
@media(max-width: 450px){
  #el-description{
    width: 260px;
  }
  #el-pic{
    width: 300px;
    height: 238px;
  }
}

#el-list{
  display: grid;
  grid-template-columns: auto;
  width: 80%;
  margin-left: 10%;
  margin-top: 100px;
}


#el-list p{
  align-self: center;
  min-height: 20px;
  color: black;
  padding: 16px;
}

.big-span{
  color: black;
  font-size: 28px;
  display: block;
  border-top: 2px solid rgb(128, 208, 199);
  border-left: 2px solid rgb(128, 208, 199);
  border-radius: 10px 0px 0px 0px;
  padding-left: 10px;
  font-style:italic;
  margin-bottom: 8px;
  opacity: 1;
}

.small-span{
  opacity: 0.7;
}

#el-pricing{
  opacity: 0.5;
  float: right;
  margin-right: 10%;
  margin-top: 20px;
}

@media(max-width: 600px){
  #el-list p{
    font-size: 12px;
  }
  .big-span{
    font-size: 20px;
  }
  #el-pricing{
    font-size: 10px;
  }
}
