/** globals **/
*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html{
  font-family: 'Open Sans', sans-serif;
}

body{
}

a{
  text-decoration: none;
}

a,button{
  cursor: pointer;
}
