#header-image{
  filter: grayscale(80%);
  object-fit: cover;
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 554px;
  min-height: 554px;
}

.article-author-grid{
  display: grid;
  grid-template-columns: 60px 182px 107px;
  width: 364px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.article-author-image{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #80D0C7;
  object-fit: cover;
}

.article-author-name, .article-comment-count{
  font-size: 18px;
  color: white;
}

@media(max-width: 768px){
  .article-author-grid{
    grid-template-columns: 120px 120px;
  }
  .article-author-image{
    height: 100px;
    width: 100px;
    border-radius: 50px;
  }
  .article-comment-count{
    padding-top: 20px;
    height: 20px;
  }
}
@media(max-width: 380px){
  .article-author-image{
    height: 50px;
    width: 50px;
    border-radius: 25px;
  }
}

#commentDiv{
  display: none;
}

.header-disabled, .body-disabled{
  opacity: 0;
}

.header-enabled, .body-enabled{
  animation: appearSlide 1.6s;
}

@keyframes appearSlide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#body-container{
  margin-top: 554px;
  padding: 80px 10% 80px 10%;
  color: black;
}

#body-container p{
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}
