/** HEADER **/

#header{
  display: block;
  width: 100%;
  height: 554px;
  min-height: 554px;
}

#header-img{
  filter: grayscale(80%);
  object-fit: cover;
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 554px;
  min-height: 554px;
}

#header-filter{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
  height: 554px;
  min-height: 554px;
}

#header-content{
  width: 628px;
  align-content: center;
  position: absolute;
  left: 15%;
  top: 0px;
  padding-top: 180px;
}

#header-h1{
  font-weight: 600;
  font-size: 38px;
  line-height: 53px;
  color: white;
}

#header-p{
  color: rgba(255,255,255,0.7);
  font-size: 17px;
  width: 395px;
  margin-top: 10px;
  line-height: 27.6px;
}

#header-btn{
  color: white;
  font-size: 14px;
  font-weight: 600;
  width: 197px;
  margin-top: 20px;
  border-radius: 25px;
  background-image: linear-gradient(45deg, rgb(19, 84, 122) 0%, rgb(128, 208, 199) 100%);
  height: 50px;
}

#header-btn:hover{
  transform: scale(1.1);
  transition-duration: .5s;
}

@media(max-width: 768px){
  #header-content{
    width: 400px;
  }
  #header-h1{
    font-size: 30px;
    line-height: 42px;
  }
}
@media(max-width: 568px){
  #header-content{
    width: 300px;
    left: 50px;
  }
  #header-h1{
    font-size: 23px;
    line-height: 36px;
  }
  #header-p{
    width: 300px;
    font-size: 14px;
    line-height: 22px;
  }
}
@media(max-width: 370px){
  #header-content{
    width: 240px;
    left: 30px;
  }
  #header-p{
    width: 240px;
  }
}
